
.right-logo {
    width: 60px;
    height: 60px;
    background-color: #a52a2a;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.right-logo img {
    max-width: 80%;
    max-height: 80%;
    filter: invert(1);
}